html {
  min-height: 100%;
  position: relative; }

/*----------------PAGINA PRINCIPAL-----------------*/
h1 {
  font-family: "Raleway", sans-serif;
  color: #5F9EA0;
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem; }

h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #202224;
  margin: 2rem 0rem;
  margin-bottom: 2rem; }

.cards {
  width: 95%;
  margin-top: 2rem;
  justify-content: center;
  margin: 0 auto; }

.card__container {
  padding-left: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem; }

.card__container:last-child {
  padding-right: 0rem; }

@media (max-width: 800px) {
  .card__container:last-child {
    padding-left: 0rem;
    margin-left: 0rem; } }

.card-title {
  font-weight: bold; }

.btn-custom {
  background-color: #5F9EA0;
  border: #FFFFFF;
  color: #FFFFFF;
  text-transform: uppercase; }

p {
  font-family: "Roboto", sans-serif;
  color: #202224; }

#form {
  margin: 0 auto;
  border: solid;
  border-color: #3f3e3e;
  border-width: 0.5px;
  max-width: 350px;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 15px; }

.input-field {
  width: 100%; }

.form__button__submit {
  padding-top: 1rem; }

/*----------------PAGINA PRINCIPAL-----------------*/
/**PAGINA CONOCENOS**/
.nav-item__main:hover {
  text-decoration: underline #FFFFFF;
  text-underline-position: under;
  font-weight: bold; }

.nav-item__internal:hover {
  text-decoration: underline #27868a;
  text-underline-position: under;
  font-weight: bold; }

.video__conocenos {
  width: 50%;
  height: 30%;
  margin: 5rem 25%; }

.div__container__conocenos {
  width: 50%;
  margin: 0 auto; }

.texto__principal__conocenos {
  width: 50%;
  justify-content: center;
  padding-bottom: 2rem; }

/**PAGINA CONOCENOS**/
/**PAGINA SERVICIOS**/
.barra__secundaria {
  padding-top: 2rem; }

.barra__secundaria__item {
  color: #202224;
  font-family: "Roboto", sans-serif;
  font-size: 2rem; }

.barra__secundaria__item:hover {
  background-color: #27868a;
  color: #FFFFFF; }

.container__servicios {
  width: 80%; }

.service__icon {
  margin: 5% 35%;
  font-size: 3rem;
  color: #7c7474; }

.carrusel {
  width: 600px;
  max-height: 400px !important;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding-bottom: 4rem; }

/**PAGINA SERVICIOS**/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 80px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

.hero {
  background-image: url(https://imgbox.es/images/2020/06/28/hero417cb91acd6dbee7d.md.png);
  height: 90%;
  background-position: center;
  background-size: cover; }

.header__internal {
  background-color: #5F9EA0;
  height: 300%;
  background-position: center;
  background-size: cover; }

nav {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-align: right;
  font-size: 20px;
  width: 95%; }

.nav-all-items {
  margin-right: 2rem;
  padding-bottom: 1.5rem;
  margin-left: 10rem;
  margin-top: 2rem; }

.container-fluid {
  padding: 6% 8%;
  display: flex;
  justify-content: center; }

.nav-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: 1rem; }

.nav-item:last-of-type {
  margin-right: 1; }

@media (max-width: 990px) {
  .nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; } }

#footer {
  background-color: #5F9EA0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10rem;
  color: #FFFFFF;
  text-align: center;
  margin-top: 2rem; }

.footer__container__icon {
  font-size: 2rem;
  color: #FFFFFF;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem; }

.footer__container__cr {
  color: #202224; }

p.footer__container__cr {
  margin-bottom: 1rem; }
