.hero {
    background-image: url(https://imgbox.es/images/2020/06/28/hero417cb91acd6dbee7d.md.png);
    height: 90%;
    background-position: center;
    background-size: cover;
}

.header__internal {
    background-color: $primaryColor;
    height: 300%;
    background-position: center;
    background-size: cover;


}

nav {
    text-transform: uppercase;
    font-family: $font1;
    text-align: right;
    font-size: 20px;
    width: 95%;
}


.nav-all-items {
    margin-right: 2rem;
    padding-bottom: 1.5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

.container-fluid {
    padding: 6% 8%;
    display: flex;
    justify-content: center;

}

.nav-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;

}

.nav-item:last-of-type {
    margin-right: 1;
}

@media(max-width: 990px){
    .nav-item{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}