//main page

h1 {
    font-family: $font1;
    color: $primaryColor;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-family: $font1;
    text-align: center;
    color: $tercearyColor;
    margin: 2rem 0rem;
    margin-bottom: 2rem;
}

.cards {
    width: 95%;
    margin-top: 2rem;
    justify-content: center;
    margin: $contentCentered;
}

.card__container {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}



.card__container:last-child {
    padding-right: 0rem;

}

@media(max-width: 820px) {
    .card__container:last-child {
        padding-left: 0rem;
        margin-left: 0rem;
    }
}

.card-title {
    font-weight: bold;
}

.btn-custom {
    background-color: $primaryColor;
    border: $secondaryColor;
    color: $secondaryColor;
    text-transform: uppercase;
}

p {
    font-family: $font2;
    color: $tercearyColor;
}

#form {
    margin: $contentCentered;
    border: solid;
    border-color: #3f3e3e;
    border-width: 0.5px;
    width: 400px;

    justify-content: center;
    padding: 1rem;
    font-family: $font2;
    font-size: 15px;

}

.input-field {
    width: 100%;
}


.form__button__submit {
    padding-top: 1rem;
}

//conocenos page

//revisar el padding de conocenos. 




.nav-item__main:hover{
    text-decoration: underline $secondaryColor;
    text-underline-position: under;
    font-weight: bold;
}

.nav-item__internal:hover{
        text-decoration: underline $colorNavhover;
        text-underline-position: under;
        font-weight: bold;  

  

}

.texto__principal__conocenos {
   width: 90%;
   justify-content: center;

}
.video__conocenos{
    max-height: 400px !important;
}


//servicios page  

.service__icon{
    font-size: 2rem;
    color: $tercearyColor;
    margin: 1rem;
    padding-top: 1rem;
}
.container__deck{
    padding-bottom: 5rem;
}
.carrusel{
    width: 600px;
    max-height: 400px !important;
    margin: $contentCentered;

    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

