/*----------------PAGINA PRINCIPAL-----------------*/

h1 {
    font-family: $font1;
    color: $primaryColor;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-family: $font1;
    text-align: center;
    color: $tercearyColor;
    margin: 2rem 0rem;
    margin-bottom: 2rem;
}

.cards {
    width: 95%;
    margin-top: 2rem;
    justify-content: center;
    margin: $contentCentered;
}

.card__container {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}



.card__container:last-child {
    padding-right: 0rem;

}

@media(max-width: 800px) {
    .card__container:last-child{
        padding-left: 0rem;
        margin-left: 0rem;
    }
}

.card-title {
    font-weight: bold;
}

.btn-custom {
    background-color: $primaryColor;
    border: $secondaryColor;
    color: $secondaryColor;
    text-transform: uppercase;
}

p {
    font-family: $font2;
    color: $tercearyColor;
}

#form {

    margin: $contentCentered;
    border: solid;
    border-color: #3f3e3e;
    border-width: 0.5px;
    max-width: 350px;
    padding: 1rem;
    font-family: $font2;
    font-size: 15px;

}

.input-field {
    width: $width;
}


.form__button__submit {
    padding-top: 1rem;
}

/*----------------PAGINA PRINCIPAL-----------------*/

/**PAGINA CONOCENOS**/

.nav-item__main:hover {
    text-decoration: underline $secondaryColor;
    text-underline-position: under;
    font-weight: bold;
}

.nav-item__internal:hover {
    text-decoration: underline $colorNavhover;
    text-underline-position: under;
    font-weight: bold;
}

.video__conocenos {
    width: $width/2;
    height: 30%;
    margin: 5rem 25%;

}

.div__container__conocenos {
    width: $width/2;
    margin: $contentCentered;
}

.texto__principal__conocenos {
    width: $width/2;
    justify-content: center;
    padding-bottom: 2rem;
}
/**PAGINA CONOCENOS**/



/**PAGINA SERVICIOS**/

.barra__secundaria{
    padding-top: 2rem;

}

.barra__secundaria__item{
    color: $tercearyColor;
    font-family: $font2;
    font-size: 2rem;
}
.barra__secundaria__item:hover{
    background-color: $colorNavhover;
    color: $secondaryColor;
}

.container__servicios{
    width: 80%;
}
.service__icon {
    margin: 5% 35%;
    font-size: 3rem;
    color: #7c7474;

}

.carrusel {
    width: 600px;
    max-height: 400px !important;
    margin: $contentCentered;

    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

/**PAGINA SERVICIOS**/

.float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 80px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}