
//colors
$primaryColor:#5F9EA0;
$secondaryColor:#FFFFFF;
$tercearyColor: #202224;
$colorNavhover:rgb(39, 134, 138);

//fonts
$font1:  'Raleway', sans-serif;
$font2:  'Roboto', sans-serif;


$contentCentered: 0 auto; 

html {
    min-height: 100%;
    position: relative;
  }
